<div>
    <img src="images/emlyon.png" style="height:60px; float:left; padding-right:10px; margin-top:5px" />
    <span>
        <h1 style="padding-bottom:5px;"> Python BootCamp </h1>
        <a href="https://masters.em-lyon.com/en/msc-in-digital-marketing-data-science">[Emlyon]</a> MSc in Digital Marketing & Data Science (DMDS) <br/>
         September 2022, Paris | © Saeed VARASTEH [RP] | Lucas VILLAIN
    </span>
</div>

<div class="alert-info" style="border-bottom: solid 1px lightgray; background-color:#ece4f5;">
    <img src="images/assignment.png" style="height:60px; float:left; padding-right:10px;" />
    <span style="font-weight:bold; color:#8966b0">
        <h4 style="padding-top:25px;"> EXERCISES 02 </h4>
    </span>
</div>

### Exercises 02 - Strings

---

<div style='color:gray;'> 
PART ONE
</div>

__String Methods__

Write a piece of code that takes a list of words like this and joins it into a single string separated by spaces:

In [1]:
words=["Be", "yourself", "everyone", "else", "is", "already", "taken"]
# your code

" ".join(words)

'Be yourself everyone else is already taken'

Write a piece of code to split this string into separate words (returns the list of strings).

In [2]:
mystr = "So, many, books, so,  little, time"

# your code
mystr.split(", ")

['So', 'many', 'books', 'so', ' little', 'time']

Using only `strip`, `split` and `join`, remove all whitespace from these strings and print the resulting line.

"the\tquick brown\tfox jumps over the lazy dog  "

The result should look as follows:

thequickbrownfoxjumpsoverthelazydog

In [8]:
# your code
#hint : split without any character 

my_str = "the\tquick brown\tfox jumps over the lazy dog "
my_str = my_str.split( ) #the separation char is space and \t
my_str = "".join(my_str)
my_str

'thequickbrownfoxjumpsoverthelazydog'

In [3]:
print( "\n hi" ) # \n means new line

 hi

In [4]:
print( "\t hi" ) # \n means a tab

	 hi

__String Formatting__

Save the following numbers in a list. Automatically calculate the average of the numbers and print the result with 5 decimals using string formatting.

4.3, 6, 9.2, 1.77029, 42

In [32]:
# your code
mylist = [4.3, 6, 9.2, 1.77029, 42]
list_average = sum(mylist) / len(mylist)
print("the avg is:", round(list_average , 5)) # solution one: using the round function of python 
print( f"the avg is : {list_average:.5f}" )   #solution two using string formatting  f = format

the avg is: 12.65406
the avg is : 12.65406

<div style='color:gray;'> 
PART TWO
</div>

Write a function which takes a string argument, searches for vowels (the letters "a", "e", "i", "o", "u") in the string, replaces them by upper case characters, and prints out the new string with the upper cases.

If nothing in the string is a vowel, print "Nothing to convert!".

In [37]:
def uppercase_me(word):
    word2 = ""
    list_of_vowels = ["a","e","i","o","u"]
    for c in word:
        #you need condition on c 
        """
        if c == "a":
            word2 = word2 + c.upper()
        elif c == "e":
            word2 = word2 + c.upper()
        elif c == "i":
            word2 = word2 + c.upper()
        elif c == "o":
            word2 = word2 + c.upper()
        elif c == "u":
            word2 = word2 + c.upper()
        """
        """
        if c == "a" or c = "e" or c == "i" or c == "o" or c == "u":
                word2 = word2 + c.upper()
        """
        if c in list_of_vowels:
            word2 = word2 + c.upper()
        else:
            word2 = word2 + c

    print(word2)

In [21]:
# test your function
uppercase_me("hello!") # --> hEllO

NameError: name 'uppercase_me' is not defined

<div style='color:gray;'> 
PART THREE
</div>

__Word on Avocados__

Print the string `article`. It contains the first few paragraphs of an article on the New York Times Website.

In [6]:
article = """High-Tech Degrees and the Price of an Avocado: The Data New York Gave to Amazon\n\nThe city and state sent loads of data to Amazon during its search for a new headquarters, offering a peek into the valuable information the company collected during the process.\n\nKaren Weise\n\nBy Karen Weise\n\n\tDec. 12, 2018\n\n[Updated Feb. 14: Amazon said it was canceling plans to build a corporate campus in New York City, after the deal had run into fierce opposition from local lawmakers who criticized providing subsidies to one of the world’s most valuable companies.]\n\nAn avocado at Whole Foods costs 1.25. \nColumbia University handed out 724 graduate degrees in computer science over the past three years. \nAnd 10 potential land parcels in Long Island City are zoned M1-4, for light manufacturing.\n\nNew York provided all of these data points, and thousands more, to Amazon as part of its successful bid to woo the tech giant to town.\n\nOn Monday, New York City posted online the 253-page proposal it submitted, along with New York State, to Amazon in March. \nThe city quickly took the file down, saying it should have checked with its partners before posting it, because the document included proprietary information. \nBut The New York Times downloaded the document before it was taken off the public website.\n\nThe proposal shows the types of data, some rarely available publicly, that the company amassed from cities across the country as part of its search for a second headquarters.
"""

In [7]:
print(article)

High-Tech Degrees and the Price of an Avocado: The Data New York Gave to Amazon

The city and state sent loads of data to Amazon during its search for a new headquarters, offering a peek into the valuable information the company collected during the process.

Karen Weise

By Karen Weise

	Dec. 12, 2018

[Updated Feb. 14: Amazon said it was canceling plans to build a corporate campus in New York City, after the deal had run into fierce opposition from local lawmakers who criticized providing subsidies to one of the world’s most valuable companies.]

An avocado at Whole Foods costs 1.25.
Columbia University handed out 724 graduate degrees in computer science over the past three years.
And 10 potential land parcels in Long Island City are zoned M1-4, for light manufacturing.

New York provided all of these data points, and thousands more, to Amazon as part of its successful bid to woo the tech giant to town.

On Monday, New York City posted online the 253-page proposal it submitted, along with New York State, to Amazon in March.
The city quickly took the file down, saying it should have checked with its partners before posting it, because the document included proprietary information.
But The New York Times downloaded the document before it was taken off the public website.

The proposal shows the types of data, some rarely available publicly, that the company amassed from cities across the country as part of its search for a second headquarters.

Write a script that answers the following questions on the contents of the above article:

What is the most frequent word in the text?

In [8]:
# your code

words = article.split()
#text cleaning 

#create word_count dictionary 
word_dict = {}

for w in words: 
    if w in word_dict.keys():
        word_dict[w] = word_dict[w] + 1
    else:
        word_dict[w] = 1
        
word_dict

{'High-Tech': 1,
 'Degrees': 1,
 'and': 3,
 'the': 16,
 'Price': 1,
 'of': 7,
 'an': 1,
 'Avocado:': 1,
 'The': 5,
 'Data': 1,
 'New': 6,
 'York': 6,
 'Gave': 1,
 'to': 8,
 'Amazon': 5,
 'city': 2,
 'state': 1,
 'sent': 1,
 'loads': 1,
 'data': 2,
 'during': 2,
 'its': 4,
 'search': 2,
 'for': 3,
 'a': 4,
 'new': 1,
 'headquarters,': 1,
 'offering': 1,
 'peek': 1,
 'into': 2,
 'valuable': 2,
 'information': 1,
 'company': 2,
 'collected': 1,
 'process.': 1,
 'Karen': 2,
 'Weise': 2,
 'By': 1,
 'Dec.': 1,
 '12,': 1,
 '2018': 1,
 '[Updated': 1,
 'Feb.': 1,
 '14:': 1,
 'said': 1,
 'it': 4,
 'was': 2,
 'canceling': 1,
 'plans': 1,
 'build': 1,
 'corporate': 1,
 'campus': 1,
 'in': 4,
 'City,': 1,
 'after': 1,
 'deal': 1,
 'had': 1,
 'run': 1,
 'fierce': 1,
 'opposition': 1,
 'from': 2,
 'local': 1,
 'lawmakers': 1,
 'who': 1,
 'criticized': 1,
 'providing': 1,
 'subsidies': 1,
 'one': 1,
 'world’s': 1,
 'most': 1,
 'companies.]': 1,
 'An': 1,
 'avocado': 1,
 'at': 1,
 'Whole': 1,
 'Foods': 1,
 'costs': 1,
 '1.25.': 1,
 'Columbia': 1,
 'University': 1,
 'handed': 1,
 'out': 1,
 '724': 1,
 'graduate': 1,
 'degrees': 1,
 'computer': 1,
 'science': 1,
 'over': 1,
 'past': 1,
 'three': 1,
 'years.': 1,
 'And': 1,
 '10': 1,
 'potential': 1,
 'land': 1,
 'parcels': 1,
 'Long': 1,
 'Island': 1,
 'City': 2,
 'are': 1,
 'zoned': 1,
 'M1-4,': 1,
 'light': 1,
 'manufacturing.': 1,
 'provided': 1,
 'all': 1,
 'these': 1,
 'points,': 1,
 'thousands': 1,
 'more,': 1,
 'as': 2,
 'part': 2,
 'successful': 1,
 'bid': 1,
 'woo': 1,
 'tech': 1,
 'giant': 1,
 'town.': 1,
 'On': 1,
 'Monday,': 1,
 'posted': 1,
 'online': 1,
 '253-page': 1,
 'proposal': 2,
 'submitted,': 1,
 'along': 1,
 'with': 2,
 'State,': 1,
 'March.': 1,
 'quickly': 1,
 'took': 1,
 'file': 1,
 'down,': 1,
 'saying': 1,
 'should': 1,
 'have': 1,
 'checked': 1,
 'partners': 1,
 'before': 2,
 'posting': 1,
 'it,': 1,
 'because': 1,
 'document': 2,
 'included': 1,
 'proprietary': 1,
 'information.': 1,
 'But': 1,
 'Times': 1,
 'downloaded': 1,
 'taken': 1,
 'off': 1,
 'public': 1,
 'website.': 1,
 'shows': 1,
 'types': 1,
 'data,': 1,
 'some': 1,
 'rarely': 1,
 'available': 1,
 'publicly,': 1,
 'that': 1,
 'amassed': 1,
 'cities': 1,
 'across': 1,
 'country': 1,
 'second': 1,
 'headquarters.': 1}

In [11]:
#find maximum repeats 
max_rep_value = 0 
max_rep_word = ""

for w in word_dict:
    if word_dict[w] > max_rep_value:
            max_rep_value = word_dict[w]
            max_rep_word = w 
            
print("word", max_rep_word, "with", max_rep_value, "repeats.")

word the with 16 repeats.

What is the most frequent character in the text?

In [22]:
# your code
char_dict = {}

for c in article: 
    if c in char_dict.keys():
        char_dict[c] = char_dict[c] + 1
        
    else:
        char_dict[c] = 1 
        
del char_dict[" "]
char_dict
   
        
   

print(c)

---

In [25]:
max_rep_value = 0 
max_rep_char = ""

for c in char_dict:
    if char_dict[c] > max_rep_value:
            max_rep_value = char_dict[c]
            max_rep_char = c 
            
print("char", max_rep_char, "with", max_rep_value, "repeats.")

char e with 126 repeats.

NameError: name 'article' is not defined